<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand"> <a href="/" class="brand-link"> <span class="brand-text fw-light">Data Insight</span> </a> </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item"> <a href="/" class="nav-link"> <i class="nav-icon bi bi-speedometer"></i> <p>Dashboard</p> </a> </li>
                <li class="nav-item"> <a href="/reports" class="nav-link"> <i class="nav-icon bi bi-file-earmark-bar-graph"></i> <p>Reports</p> </a> </li>
                <li class="nav-item"> <a href="/reports/new" class="nav-link"> <i class="nav-icon bi bi-plus-square"></i> <p>New Report</p> </a> </li>
            </ul>
        </nav>
    </div>
</aside>
